@model IEnumerable<QuestionNAnswersForum.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Questions N Answers Forum</h2>
<p>
    <a asp-action="AskQuestion">Ask a question</a>
</p>
<form asp-action="Index">
    <select name="sortBy">
        <option value="sortByDate">Sort by Date</option>
        <option value="sortByAnswersCount">Sort by Number of Answers</option>
    </select>
    <button type="submit">Sort</button>
</form>
<hr/>
<hr/>

<div>
    @foreach (var question in Model)
    {
        <div>
            <h4>Question</h4>
            <h5>Title: @question.Title</h5>
            <h5>By: @question.User.UserName</h5>
            <p>@question.Content</p>
            <a asp-action="Details" name="@question.Id"> Details</a>
            <a asp-action="AddAnswer"> Answer Question</a>
            <hr/>
        </div>
        <div>
            <h5>Current Answers: @question.Answers.Count</h5>
            @foreach (var answer in @question.Answers)
            {
                <h5> @answer.User.UserName</h5>
                <p> @answer.Post</p>
            }
            <hr/>
            <hr/>
        </div>

        
    }
</div>